if userName
  block header
    include layouts/header.pug
  main.container
    form#data-selector(action="#")
      label
        input(id="data-selector__users" name="group1", type="radio", checked)
        span
          i.material-icons.secondary-content people
          span Користувачі
      label
        input(id="data-selector__phones" name="group2", type="radio")
        span
          i.material-icons.secondary-content phone_android
          span Телефони
      label
        input(id="data-selector__birthdays" name="group3", type="radio")
        span 
          i.material-icons.secondary-content date_range
          span Дати народження
    #data

  block footer
    include layouts/footer.pug
else
  .container.center
    h4 Панель керування доступна лише авторизованим адміністраторам