extends layouts/main-layout.pug

block main
  main
    .container
      form#login-stage-1.col.s12
        h3 Увійдіть
        .row
          .input-field.col.s6
            input(type="text", name="username", id="login-stage-1__name-input", class="active")
            label(for="username") Введіть свій телеграм юзернейм (без @)
            span#login-stage-1__name-input__helper.helper-text Увійти можуть лише акаунти, що мають телеграм-юзернейм та роль адміністратора
        .row
          .input-field.col.s6
            button.btn.waves-effect.waves-light(type="submit", name="action") Отримати код входу

      form#login-stage-2.col.s12.hide
        h3 Підтвердьте
        .row
          .input-field.col.s6
            input(type="text", name="username", id="login-stage-2__code-input" class="active")
            label(for="username") Введіть отриманий в телеграм код підтвердження
        .row
          .input-field.col.s6
            button.btn.waves-effect.waves-light(type="submit", name="action") Увійти
      
      #try-login-again.hide
        h4 Код невірний
        button.btn.waves-effect.waves-light(type="button", name="retry") Спробувати ще
  script(src="/scripts/login.js")
