body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#login-form {
  width: 600px;
}

.error {
  color: red;
}

.vertical-margined {
  margin: 5rem 0
}

#main-menu .collection-item:hover {
  background-color: #e1f5fe;
}
