body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

main {
  flex: 1 0 auto;
}

#login-form {
  width: 600px;
}

.error {
  color: red;
}

.vertical-margined {
  margin: 5rem 0
}

#data-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

#data-selector label {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

#data-selector label span {
  display: flex;
  flex-direction: row;
  order: -1;
}

#data-selector label span i {
  order: -1;
  margin: 0 10px 0 0;
}

#data-selector label input {
  margin: 0;
}

table tr form {
  display: flex;
}
