header#header
  nav.teal.lighten-1.row
    .container.col.s2
    .naw-wrapper.col.s8
      a.brand-logo(href="/") kbpbot
      ul.hide-on-med-and-down.right
        li
          if userName
            span= userName
          else if hideLogin
            span
          else
            a(href="/auth/login")  Login
    .container.col.s2


